<div class="container-fluid main">
  <div class="container title">
    <h2>Get in touch</h2>
  </div>
  <div class="container text">
    <p>Do you have questions or would like to contact Beer Nation? Then you can either write directly to us at
      info@beernation.org or use our contact form below. We can also be contacted via Facebook / Instagram.
      <br><br>
      We also have a “FAQ” page (Frequently Asked Questions) where we have answered most of the common questions.
      <br><br>
      Are you going to need beer for a company-event, party, tasting, bachelor party or other? Write to us about how
      much you need (or for how many people), preferences, and other important details. Then we help you put together a
      menu and give an offer.</p>
  </div>

  <div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Type here</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
