.description{
    height: 100vh;
}



.item-top{
    text-align: center;
    margin: 40px 0;
}

.img-container img{
    width: 50%;
    max-width: 300px;
   
}

.col-3{
    
    text-align: center;
}

.col-9{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 20px 20px;
}